* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

// ===========FONTS===============//

@font-face {
  font-family: Gill;
  src: url(fonts/GillSans.ttc);
}

@font-face {
  font-family: ProximaNova;
  src: url(fonts/Proxima-Nova-Thinone.otf);
}
