.booking-form {
  width: 1280px;
  height: 890px;
  margin: 0 auto;
  background-color: yellowgreen;

  h1 {
    width: 300px;
    margin-left: 202px;
    margin-top: 50px;
    height: 73px;
    font-family: ProximaNova;
    font-size: 40px;
    background-color: teal;
  }
}
