.hero {
  width: 1280px;
  height: 500px;
  padding-top: 20px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/hero.jpg);
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}